# Ignore CSV file in data folder
data/*.csv

# Ignore virtual environment
*venv*

# Ignore generated output python file
output/*

# Ignore vscode folder
.vscode

# Ignore python related folders
*__pycache__*